@model KlipboardAssessment.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> @*NB This hidden field has to be passed in for EF Core binding*@
            <input type="hidden" asp-for="AccountNumber" />  @*NB This hidden field has to be passed in for EF Core binding*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>

<script>
	const form = document.querySelector("form");
	form.addEventListener("submit", function(event) {
		  if (!confirm("Are you sure you want to save changes to this customer?")) {
			  event.preventDefault(); // Prevent the default action (navigation)
		  }
	  });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
