@model KlipboardAssessment.Models.Transaction
<!DOCTYPE html>

<h4>Add a New Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Transactions" asp-action="AddTransaction" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label">Select Account</label>
                <select asp-for="AccountNumber" class="form-control">
                    @foreach(var acc in ViewBag.AccountNumbers)
                    {
                        <option value="@acc">@acc</option>
					}
                </select>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="C">C</option>
					<option value="D">D</option>
				</select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div> *@
            <div class="form-group">
                <input id="submitBtn" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
</div>

<script>
	const submitBtn = document.getElementById('submitBtn');
    submitBtn.addEventListener('click', function(event) {
        if (!confirm("Are you sure you want to add this Transaction?"))
        {
			event.preventDefault();
		}
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
